<div class="container-fixed">
    <div class="row">
        {{#each tracks}}
            <div class="col-xs-12 img_wrapper">
                <img class="lazy" data-original="{{this}}">
                <!--<img src="{{this}}" onload="imgLoaded(this)">-->
            </div>
        {{/each}}
    </div>
</div>
