<hr>
<div class="row">
    <div class="col-md-6">
        <p>HiCBrowser is a simple web browser to visualize <strong>Hi-C</strong> and other genomic tracks. 
        <p>It is based on <strong>pyGenomeTracks</strong>, a program and library to plot beautiful genome browser tracks.</p>
    </div>
    <div class="col-md-6">
        <!-- build:src /static/img/vis.png -->
        <img class="img-responsive" src="../static/img/vis.png" alt="">
        <!-- /build -->
    </div>
</div>
<br>
<br>
