<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
                <div class="search-box">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="fly">
                                <img src="{{icon}}">
                            </div>
                        </div>
                        <div class="col-md-9 col-md-offset-1">
                            <h1>HiCBrowser</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
