<div id="{{id}}" class="modal fade bs-example-modal-sm" style="color: #fff" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="search-box" style="width:100%">
                <!-- build:src /static/img/loading.gif -->
                    <img src="../static/img/loading.gif">
                <!-- /build -->
                <h1>Loading ...</h1>
            </div>
        </div>
    </div>
</div>